{include file="public/layout" /}
<script type="text/javascript" src="__PUBLIC__/plugins/laydate/laydate.js"></script>

{load href="__PUBLIC__/plugins/Ueditor/ueditor.config.js" /}
{load href="__PUBLIC__/plugins/Ueditor/ueditor.all.min.js" /}
{load href="__PUBLIC__/plugins/Ueditor/lang/zh-cn/zh-cn.js" /}

<body style="background-color: #FFF; overflow: auto;min-width:auto;">
<div id="toolTipLayer"
     style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width: auto; box-shadow: none;">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i
                class="fa fa-chevron-left"></i></a>
            <div class="subject">
                <h3>新增</h3>
                <h5></h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="post_form" action="{:url('InAndOut/add')}" method="post" style="">
        <!-- 常规信息 -->
        <div class="ncap-form-default tab_div_1 tab_div_body" style="">
            <span id="FieldAddonextitem" style="">

                                <dl class="row">
                    <dt class="tit">
                        <label>产品id</label>
                        <a></a>
                    </dt>
                    <dd class="opt">
                        <input type="text" value="" name="addonFieldExt[workid]"
                               id="addonFieldExt_workid" class="input-txt"
                               onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                               onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">&nbsp;                        <span
                            class="err"></span>
                        <p class="notic"></p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label>操作人</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" class="input-txt" id="addonFieldExt_modifier" name="addonFieldExt[modifier]"
                               value="">&nbsp;                        <span class="err"></span>
                        <p class="notic"></p>
                    </dd>
                </dl>
                <!-- 单行文本框 end -->
                <!-- 日期和时间 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>操作时间</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" class="input-txt" name="{$vo.fieldArr}[{$vo.name|default=''}]" id="{$vo.fieldArr}_{$vo.name|default=''}" value="{$vo['dfvalue']}" autocomplete="off">
                        <span class="add-on input-group-addon">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        </span>
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <script type="text/javascript">
                    $(function () {
                        $('#{$vo.fieldArr}_{$vo.name|default=''}').layDate();
                    });
                </script>
                <!-- 单选项 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>出入库类型</label>
                    </dt>
                    <dd class="opt">
                                                <label><input type="radio" id="addonFieldExt_inventoryLocation"
                                                              name="addonFieldExt[inventoryLocation]" value="出库"
                                                              checked="checked">出库</label>&nbsp;
                                                <label><input type="radio" id="addonFieldExt_inventoryLocation"
                                                              name="addonFieldExt[inventoryLocation]"
                                                              value="入库">入库</label>&nbsp;
                                                <span class="err"></span>
                        <p class="notic"></p>
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit">
                        <label>描述</label>
                    </dt>
                    <dd class="opt">
                        <textarea rows="5" cols="60" id="addonFieldExt_BriefIntroduction"
                                  name="addonFieldExt[BriefIntroduction]" style="height:60px;"></textarea>
                        <span class="err"></span>
                        <p class="notic"></p>
                    </dd>
                </dl>
                 <dl class="row">
                    <dt class="tit">
                        <label>备注</label>
                    </dt>
                    <dd class="opt">
                        <textarea rows="5" cols="60" id="addonFieldExt_BriefIntroduction"
                                  name="addonFieldExt[BriefIntroduction]" style="height:60px;"></textarea>
                        <span class="err"></span>
                        <p class="notic"></p>
                    </dd>
                </dl>
                <!-- 多行文本框 end -->
            </span>

        </div>
        <!-- 常规信息 -->
        <!-- #weapp_diy001_body# -->
        <div class="ncap-form-default">
            <div class="bot">
                <input type="hidden" name="gourl" value="">
                <input type="hidden" name="channel" value="102">
                <a href="JavaScript:void(0);" onclick="check_submit();" class="ncap-btn-big ncap-btn-green"
                   id="submitBtn">确认提交</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    // todo 判断输入框是否为空
    function check_submit() {
        layer_loading('正在处理');
        // $('#post_form').submit();
    }
</script>

{include file="public/footer" /}