<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--首页seo标题-->
    <title>{eyou:global name='web_title' /}</title>
    <!--首页seo描述-->
    <meta name="description" content="{eyou:global name='web_description' /}"/>
    <!--首页seo关键词-->
    <meta name="keywords" content="{eyou:global name='web_keywords' /}"/>
    <!--网站地址栏图标-->
    <link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="template/pc/skin/css/c.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="template/pc/skin/js/jquery1.42.min.js"></script>
    <script src="template/pc/skin/js/yyui.js"></script>
    <script type="text/javascript" src="template/pc/skin/js/jquery.SuperSlide.2.1.3.js"></script>
    <!--[if lt IE 9]>
    <div class="notsupport">
        <h1>:( 非常遗憾</h1>
        <h2>您的浏览器版本太低，请升级您的浏览器</h2>
    </div>
    <![endif]-->

</head>
<body style="background: #e5e5e5;">

<div class="top">
    <div class="details_banner"><img src="template/pc/skin/images/in_banner01.jpg"></div>
</div>
<div class="top_logo"><img src="template/pc/skin/images/top_logo.jpg"></div>
{eyou:include file="header.htm" /}
<div class="design_details_content clearfix" style=" margin-top: 3%">
    <div class="wrapper" style="background:#FFFfff">
        <div class="onenall">
            <div class="onetit">个人中心</div>
            <div class="onecontent clearfix">
                <div class="oneleft ">
                    <ul>
                        <li>
                            <a href="?m=user&c=Users&a=index"><i></i>上传记录</a>
                        </li>
                        <li>
                            <a href="?m=user&c=Download&a=index"><i></i>下载记录</a>
                        </li>
                        <li>
                            <a href="?m=user&c=Favorite&a=index"><i></i>订阅记录</a>
                        </li>
                        <li>
                            <a href="?m=user&c=Info&a=index"><i></i>修改密码</a>
                        </li>
                    </ul>
                </div>
                <div class="oneright">
                    <div class="oneright_title">修改密码</div>
                    <div class="item-from-row">
                        <div class="from-row-l">
                            用户名：{$users.username}
                        </div>
                    </div>
                    <form name='theForm' id="theForm">
                        <div class="item-from-row">
                            <div class="from-row-l">
                                旧密码：
                                <input type="text" name="password_old" id="password_old" autocomplete="off"
                                       class="el-input__inner w300" placeholder="请输入旧密码">
                            </div>
                            <div class="from-row-l">
                                新密码：
                                <input type="text" name="password_new" id="password_new" autocomplete="off"
                                       class="el-input__inner w300" placeholder="请输入新密码">
                            </div>
                            <div class="from-row-l">
                                重复新密码：
                                <input type="text" name="password_newa" id="password_newa" autocomplete="off"
                                       class="el-input__inner w300" placeholder="请重复新密码">
                            </div>
                        </div>
                        <div class="item-from-row">
                            <div class="from-row-r">
                                <input type="button" onclick="changeP()"
                                       class="el-button el-button--primary el-button--medium" value="修改密码"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function changeP() {
        var $op = $("#password_old").val();
        var $np = $("#password_new").val();
        var $nnp = $("#password_newa").val();
        $.ajax({
            url: "{:url('app/user/info/change_pwd')}",
            type: 'post',
            dataType: 'json',
            data: {"op": $op, "np": $np, "nnp": $nnp},
            success: function (res) {
                alert(res);
                if (res === "修改成功") {
                    window.location.href = "?m=user&c=Users&a=index";
                }
            },
        });
    }

</script>
{eyou:include file="footer.htm" /}
</body>
</html>