<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>无锡万斯集团有限公司</title>
    <link href="template/pc/users/skin/css/c.css" rel="stylesheet" type="text/css">
    <link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    {eyou:static file="users/skin/css/c.css" /}
    {eyou:static file="users/skin/css/basic.css" /}
    {eyou:static file="users/skin/css/c.css" /}
    {eyou:static file="users/skin/css/eyoucms.css" /}
    {eyou:include file="users/skin/css/diy_css.htm" /}

    {eyou:static file="/public/static/common/js/jquery.min.js"/}
    {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
    {eyou:static file="users/skin/js/global.js" /}
</head>
<body>
<div class="login_bg">
    <div class="wrapper">
        <div class="login_title">
            无锡万斯集团有限公司
        </div>
        <form action="" name='theForm' id="theForm" method="post" class="form-register panel-body fv-form">
        <div class="login_content">
            <div class="login_enter">
                    <div class="login_account clearfix">
                        <div>账号</div>
                        <div class="login_account_all">
                            <input type="text" name="username" value="手机号码或邮箱地址"
                                   onfocus="if(value=='手机号码或邮箱地址') {value=''}"
                                   onblur="if (value=='') {value='手机号码或邮箱地址'}" class="account_input"/>
                            <div class="login_account_image"><img src="template/pc/users/skin/images/login_account.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="login_account clearfix">
                        <div>密码</div>
                        <div class="login_account_all">
                            <input type="password" name="password" placeholder="请输入密码"
                                   onfocus="
                                   if(placeholder=='请输入密码') {placeholder=''}"
                                   onblur="
                                   if (placeholder=='') {placeholder='请输入密码'}"
                                   class="account_input"/>
                            <div class="login_account_image"><img
                                    src="template/pc/users/skin/images/login_password.jpg">
                            </div>
                        </div>
                    </div>
                    <input type="button" name="submit" class="login_register clearfix" value="登录"/>

            </div>
        </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).keydown(function (event) {
        if (event.keyCode == 13) {
            $('input[name=submit]').trigger("click");
        }
    });

    function fleshVerify() {
        var src = "{eyou:url link='api/Ajax/vertify' vars='type=users_login' /}";
        if (src.indexOf('?') > -1) {
            src += '&';
        } else {
            src += '?';
        }
        src += 'r=' + Math.floor(Math.random() * 100);
        $('#imgVerifys').attr('src', src);
    }

    $(function () {
        $('input[name=submit]').on('click', function () {
            var username = $('input[name=username]');
            var password = $('input[name=password]');

            if (username.val() == '') {
                layer.msg('用户名不能为空！', {time: 1500, icon: 2});
                username.focus();
                return false;
            }

            if (password.val() == '') {
                layer.msg('密码不能为空！', {time: 1500, icon: 2});
                password.focus();
                return false;
            }

            layer_loading('正在处理');
            $.ajax({
                // async:false,
                url: "{eyou:url link='user/Users/login' /}",
                data: $('#theForm').serialize(),
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    if (1 == res.code) {
                        if (5 == res.data.status) {
                            layer.alert(res.msg, {icon: 2}, function () {
                                window.location.href = res.url;
                            });
                        } else {
                            window.location.href = res.url;
                        }
                    } else {
                        layer.closeAll();
                        if ('vertify' == res.data.status) {
                            fleshVerify();
                        }

                        if (2 == res.data.status) {
                            layer.alert(res.msg, {icon: 4});
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 1500});
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.closeAll();
                    layer.alert('网络失败，请刷新页面后重试', {icon: 5});
                }
            });
        });
    });
</script>
</body>
</html>