<div class="foot clearfix">
    <div class="wrapper">
        <div class="foot_logo"><img src="template/pc/skin/images/foot_logo.png"></div>
        <div class="foot_all">
            <div class="foot_meun clearfix">
                <ul>
                    <li class="{eyou:eq name='$Request.param.m' value='Index'}hover{/eyou:eq}"><a
                            href="{eyou:global name='web_cmsurl' /}" title="首页">首页</a></li>
                    {eyou:channel type="top" row="6" id="field" currentstyle="hover"}
                    <li class="{$field.currentstyle}"><a href="{$field.typeurl}">{$field.typename}</a>
                    </li>
                    {/eyou:channel}
                </ul>
            </div>
            <div class="foot_title">More resourceful，efficiency and straightforward for designing!</div>
        </div>
    </div>
</div>