<div class="top_logo"><img src="template/pc/skin/images/top_logo.jpg"></div>
<div class="top_meun">
    <script type="text/javascript">
        yyui_menu('.yyui_menu1');
    </script>
    <ul class="yyui_menu1">
        <li class="none">
            <a href="{eyou:global name='web_cmsurl' /}" title="首页">首页
                <div class="top_meun_hover_img">
                    <img src="template/pc/skin/images/top_meun_hover.png">
                </div>
            </a>
        </li>
        <!--todo 筛选版-->
        {eyou:channel type="top" row="60" id="one" currentstyle="hover"}
        <li><a href="{$one.typeurl}">{$one.typename}</a>
            {if $one.typeid != 2}
            {eyou:screening id='field' typeid='$one.typeid' currentstyle='active' alltxt='off' }
            <ul class="one clearfix">
                {eyou:volist name='$field.list' id='vo'}
                <li class="clearfix">
                    <a href="{$field2.typeurl}">
                        <div class="second_title">{$vo.title}</div>
                        <div class="secont_image"><img src="template/pc/skin/images/top_meun_second_hover.png"></div>
                    </a>
                    {if $vo.typeid != 2}
                    <ul class="two">
                        {eyou:volist name='$vo.dfvalue' id='val'}
                        <li>
                            <a href="javascript:jump('{$val.id}','{$vo.name}','{$one.typeid}');">{$val.name}</a>
                        </li>
                        {/eyou:volist}
                    </ul>
                    {/if}
                </li>
                {/eyou:volist}
            </ul>
            {/eyou:screening}
            {/if}
        </li>
        {/eyou:channel}
        <script>
            function jump($var1, $var2, $var3) {
                const url = "?m=home&c=Lists&a=index&tid=" + $var3 + "&" + $var2 + "=" + $var1 + "&ZXljbXM=1";
                self.location.href = url;
            }
        </script>
        <!--todo 筛选版-->


        <!-- todo 子栏目版-->
        <!--		{eyou:channel type="top" row="60" id="field" currentstyle="hover"}-->
        <!--		<li><a href="{$field.typeurl}">{$field.typename}</a>-->
        <!--			{eyou:notempty name="$field.children"}-->
        <!--			<ul class="one clearfix">-->
        <!--				{eyou:channel name="$field.children" row="100" id="field2"}-->
        <!--				<li class="clearfix">-->
        <!--					<a href="{$field2.typeurl}">-->
        <!--						<div class="second_title">{$field2.typename}111</div>-->
        <!--						<div class="secont_image"><img src="template/pc/skin/images/top_meun_second_hover.png"></div>-->
        <!--					</a>-->
        <!--					{eyou:notempty name="$field2.children"}-->
        <!--					<ul class="two">-->
        <!--						{eyou:channel name="$field2.children" row="100" id="field3"}-->
        <!--						<li><a href="{$field3.typeurl}">{$field3.typename}222</a></li>-->
        <!--						{/eyou:channel}-->
        <!--					</ul>-->
        <!--					{/eyou:notempty}-->
        <!--				</li>-->
        <!--				{/eyou:channel}-->
        <!--			</ul>-->
        <!--			{/eyou:notempty}-->
        <!--		</li>-->
        <!--		{/eyou:channel}-->
        <!-- todo 子栏目版-->

        <!--搜索start-->
        <li style="position:relative;">
            {eyou:searchform type='default'}
            <form method="get" action="{$field.action}" onsubmit="return searchForm();">
                {$field.hidden}
                <input type="text" name="keywords" class="top_meun_search" id="keywords" placeholder="请输入关键字">
                <div class="meun_search_img">
                    <input type="image" src="template/pc/skin/images/search.png" name="img">
                </div>
            </form>
            <script>
                function searchForm() {
                    var keywords = document.getElementById('keywords').value;
                    if (keywords == '') {
                        alert('请输入关键字');
                        return false;
                    }
                    return true;
                }
            </script>
            {/eyou:searchform}
        </li>
        <!--搜索end-->
        <div class="user">
            {eyou:user type='open'}
            {eyou:user type='login'}
            <li style="float: left; color: #ffffff;"><a href="{$field.url}" id="{$field.id}">登录</a></li>
            {$field.hidden}
            {/eyou:user}
            {eyou:user type='reg'}
            <a href="{$field.url}" id="{$field.id}" style="float: left; color: #ffffff;">注册</a>
            {$field.hidden}
            {/eyou:user}
            {eyou:user type='logout'}
            <li style="float: left; color: #ffffff;"><a href="{$field.url}" id="{$field.id}">退出</a></li>
            {$field.hidden}
            {/eyou:user}
            {eyou:language type='default'}
            <li class="language" style="float: left;"><a href="{$field.url}">
                <div class="top_language">{$field.title}</div>
            </a></li>
            {/eyou:language}
            {/eyou:user}
        </div>
    </ul>
</div>