<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--首页seo标题-->
    <title>{eyou:global name='web_title' /}</title>
    <!--首页seo描述-->
    <meta name="description" content="{eyou:global name='web_description' /}"/>
    <!--首页seo关键词-->
    <meta name="keywords" content="{eyou:global name='web_keywords' /}"/>
    <!--网站地址栏图标-->
    <link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="template/pc/skin/css/c.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="template/pc/skin/js/jquery1.42.min.js"></script>
    <script src="template/pc/skin/js/yyui.js"></script>
    <script type="text/javascript" src="template/pc/skin/js/jquery.SuperSlide.2.1.3.js"></script>
    <!--[if lt IE 9]>
    <div class="notsupport">
        <h1>:( 非常遗憾</h1>
        <h2>您的浏览器版本太低，请升级您的浏览器</h2>
    </div>
    <![endif]-->
    {eyou:static file="skin/js/jquery.min.js" /}
    {eyou:static file="skin/js/amazeui.min.js" /}
    {eyou:static file="skin/js/app.js" /}
    {eyou:static file="skin/js/jquery.easing.1.3.js" /}
    {eyou:static file="skin/js/jquery.skitter.js" /}
    {eyou:static file="skin/js/jquery.limarquee.js" /}
</head>


<body>
<style>


</style>
<div class="top">
    <div id="slideBox" class="slideBox">
        <div class="hd">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="bd">
            <ul>
                <li><img src="template/pc/skin/images/banner01.jpg"/></li>
                <li><img src="template/pc/skin/images/banner02.jpg"/></li>
                <li><img src="template/pc/skin/images/banner01.jpg"/></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(".slideBox").slide({mainCell: ".bd ul", autoPlay: true});
    </script>
    <div class="top_logo"><img src="template/pc/skin/images/top_logo.jpg"></div>
    <div class="top_meun">
        <script type="text/javascript">
            yyui_menu('.yyui_menu1');
        </script>
        <ul class="yyui_menu1">
            <li class="{eyou:eq name='$Request.param.m' value='Index'}hover{/eyou:eq}"><a
                    href="{eyou:global name='web_cmsurl' /}" title="首页">首页</a></li>
            {eyou:channel type="top" row="60" id="field" currentstyle="hover"}
            <li class="{$field.currentstyle}"><a href="{$field.typeurl}">{$field.typename}</a>
                {eyou:notempty name="$field.children"}
                <ul class="subnav">
                    {eyou:channel name="$field.children" row="100" id="field2"}
                    <li><a href="{$field2.typeurl}">{$field2.typename}</a>
                        {eyou:notempty name="$field2.children"}
                        <ul class="subnav2">
                            {eyou:channel name="$field2.children" row="100" id="field3"}
                            <li><a href="{$field3.typeurl}">{$field3.typename}</a></li>
                            {/eyou:channel}
                        </ul>
                        {/eyou:notempty}
                    </li>
                    {/eyou:channel}
                </ul>
                {/eyou:notempty}
            </li>
            {/eyou:channel}
            <li style="position:relative;">
                <input type="text" value="" name="fname" class="top_meun_search"
                       onfocus="if(value=='') {value=''}" onblur="if (value=='') {value=''}">
                <div class="meun_search_img"><img src="template/pc/skin/images/search.png"></div>
            </li>
            <div class="user">
                {eyou:user type='open'}
                {eyou:user type='login'}
                <li style="float: left; color: #ffffff;"><a href="{$field.url}" id="{$field.id}">登录</a></li>
                {$field.hidden}
                {/eyou:user}
                {eyou:user type='reg'}
                <a href="{$field.url}" id="{$field.id}" style="float: left; color: #ffffff;">注册</a>
                {$field.hidden}
                {/eyou:user}
                {eyou:user type='logout'}
                <li style="float: left; color: #ffffff;"><a href="{$field.url}" id="{$field.id}">退出</a></li>
                {$field.hidden}
                {/eyou:user}
                {eyou:language type='default'}
                <li class="language" style="float: left;"><a href="{$field.url}"><div class="top_language">{$field.title}</div></a></li>
                {/eyou:language}
                {/eyou:user}
            </div>
        </ul>
    </div>
    <div class="all_serach">
        <script type="text/javascript">
            yyui_menu('.search_pulldown');
        </script>
        <div class="search_pulldown">
            <ul class="yyui_menu1">
                <li>
                    <a href="#">
                        <div style="float: left">全部</div>
                        <div class="search_arrows"><img src="template/pc/skin/images/searcj_arrows.png"></div>
                    </a>
                    <ul class="one clearfix">
                        <li class="clearfix">
                            <a href="#">
                                <div class="second_title">风格</div>
                                <div class="secont_image"><img src="template/pc/skin/images/top_meun_second_hover.png">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="second_title">品类</div>
                                <div class="secont_image"><img src="template/pc/skin/images/top_meun_second_hover.png">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="more">
                                <div class="second_title">艺术</div>
                                <div class="secont_image"><img src="template/pc/skin/images/top_meun_second_hover.png">
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <input value="请输入关键词全站搜索" type="text" name="fname" value="请输入关键词全站搜索" class="all_search_input"
               onfocus="if(value=='请输入关键词全站搜索') {value=''}" onblur="if (value=='') {value='请输入关键词全站搜索'}">
    </div>
    <div class="wrapper">
        <div class="all_search_label">
            <ul>
                <li>中国风</li>
                <li>欧美风</li>
                <li>田园风</li>
                <li>提花</li>
                <li>印花</li>
                <li>绣花</li>
                <li>2019</li>
                <li>2018</li>
                <li>四件套</li>
                <li>沙发套</li>
                <li>窗帘</li>
            </ul>
        </div>
    </div>
</div>
<div class="index_trend clearfix">
    <div class="wrapper">
        <div class="trend_title_all">
            <div class="trend_tit_left">
                <div class="trend_title clearfix">
                    <div class="trend_head">流行趋势</div>
                    <div class="trend_chunk">
                        <div class="trend_chunk_top"></div>
                        <div class="trend_chunk_bottom"></div>
                    </div>
                </div>
            </div>
            <div class="trend_tit_right">Trend</div>
        </div>
        <div class="trend_content clearfix">
            <div class="trend_content_left">
                <div class="trend_content_lefttit">
                    <div class="trend_tit1">2022/23秋冬全球色彩趋势预测</div>
                    <div class="trend_tit2">
                        我们的202223秋冬趋势预测主打能够在充满挑战的时期展现乐观与奢华质感的浓郁及活力色调,并分为应季、年度、长期三大专题调色板,显示了更高的灵活性与持久性...
                    </div>
                </div>
                <div class="trend_content_img">
                    <img src="template/pc/skin/images/trend_left_img.jpg">
                </div>
            </div>
            <div class="trend_content_right">
                <ul>
                    <li>
                        <div class="trend_right_img"><img src="template/pc/skin/images/trend_right_img.jpg"></div>
                        <div class="trend_right_title">家居&照明：色彩、材料</div>
                    </li>
                    <li>
                        <div class="trend_right_img"><img src="template/pc/skin/images/trend_right_img.jpg"></div>
                        <div class="trend_right_title">家居&照明：色彩、材料</div>
                    </li>
                    <li>
                        <div class="trend_right_img"><img src="template/pc/skin/images/trend_right_img.jpg"></div>
                        <div class="trend_right_title">家居&照明：色彩、材料</div>
                    </li>
                    <li>
                        <div class="trend_right_img"><img src="template/pc/skin/images/trend_right_img.jpg"></div>
                        <div class="trend_right_title">家居&照明：色彩、材料</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="index_work clearfix">
    <div class="wrapper">
        <div class="trend_title_all">
            <div class="trend_tit_left">
                <div class="trend_title clearfix">
                    <div class="trend_head">优质作品</div>
                    <div class="trend_chunk">
                        <div class="trend_chunk_top"></div>
                        <div class="trend_chunk_bottom"></div>
                    </div>
                </div>
            </div>
            <div class="trend_tit_right">Works</div>
        </div>
        <div class="works_content clearfix">
            <ul>
                <li>
                    <a href="#">
                        <div class="works_content_all">
                            <div class="works_content_img"><img src="template/pc/skin/images/index_works.jpg"></div>
                            <div class="works_content_title clearfix">
                                <div class="works_content_tit1">20PC142</div>
                                <div class="works_content_name">
                                    <div class="name">Anne</div>
                                    <div class="time">2020.06.17</div>
                                </div>
                                <div class="works_recommend">
                                    <div class="index_recommend_img"><img
                                            src="template/pc/skin/images/index_recommend.png"></div>
                                    <div class="index_recommend_tit">3,155</div>
                                </div>
                            </div>
                            <div class="index_work_label">
                                <ul>
                                    <li>中国风</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>中国风</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="works_second">
                    <a href="#">
                        <div class="works_content_all">
                            <div class="works_content_img"><img src="template/pc/skin/images/index_works.jpg"></div>
                            <div class="works_content_title clearfix">
                                <div class="works_content_tit1">20PC142</div>
                                <div class="works_content_name">
                                    <div class="name">Anne</div>
                                    <div class="time">2020.06.17</div>
                                </div>
                                <div class="works_recommend">
                                    <div class="index_recommend_img"><img
                                            src="template/pc/skin/images/index_recommend.png"></div>
                                    <div class="index_recommend_tit">3,155</div>
                                </div>
                            </div>
                            <div class="index_work_label">
                                <ul>
                                    <li>中国风</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>中国风</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="works_third">
                    <a href="#">
                        <div class="works_content_all">
                            <div class="works_content_img"><img src="template/pc/skin/images/index_works.jpg"></div>
                            <div class="works_content_title clearfix">
                                <div class="works_content_tit1">20PC142</div>
                                <div class="works_content_name">
                                    <div class="name">Anne</div>
                                    <div class="time">2020.06.17</div>
                                </div>
                                <div class="works_recommend">
                                    <div class="index_recommend_img"><img
                                            src="template/pc/skin/images/index_recommend.png"></div>
                                    <div class="index_recommend_tit">3,155</div>
                                </div>
                            </div>
                            <div class="index_work_label">
                                <ul>
                                    <li>中国风</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>中国风</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>

                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="works_fourth">
                    <a href="#">
                        <div class="works_content_all">
                            <div class="works_content_img"><img src="template/pc/skin/images/index_works.jpg"></div>
                            <div class="works_content_title clearfix">
                                <div class="works_content_tit1">20PC142</div>
                                <div class="works_content_name">
                                    <div class="name">Anne</div>
                                    <div class="time">2020.06.17</div>
                                </div>
                                <div class="works_recommend">
                                    <div class="index_recommend_img"><img
                                            src="template/pc/skin/images/index_recommend.png"></div>
                                    <div class="index_recommend_tit">3,155</div>
                                </div>
                            </div>
                            <div class="index_work_label">
                                <ul>
                                    <li>中国风</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>中国风</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="works_fifth">
                    <a href="#">
                        <div class="works_content_all">
                            <div class="works_content_img"><img src="template/pc/skin/images/index_works.jpg"></div>
                            <div class="works_content_title clearfix">
                                <div class="works_content_tit1">20PC142</div>
                                <div class="works_content_name">
                                    <div class="name">Anne</div>
                                    <div class="time">2020.06.17</div>
                                </div>
                                <div class="works_recommend">
                                    <div class="index_recommend_img"><img
                                            src="template/pc/skin/images/index_recommend.png"></div>
                                    <div class="index_recommend_tit">3,155</div>
                                </div>
                            </div>
                            <div class="index_work_label">
                                <ul>
                                    <li>中国风</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>中国风</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="works_sixth">
                    <a href="#">
                        <div class="works_content_all">
                            <div class="works_content_img"><img src="template/pc/skin/images/index_works.jpg"></div>
                            <div class="works_content_title clearfix">
                                <div class="works_content_tit1">20PC142</div>
                                <div class="works_content_name">
                                    <div class="name">Anne</div>
                                    <div class="time">2020.06.17</div>
                                </div>
                                <div class="works_recommend">
                                    <div class="index_recommend_img"><img
                                            src="template/pc/skin/images/index_recommend.png"></div>
                                    <div class="index_recommend_tit">3,155</div>
                                </div>
                            </div>
                            <div class="index_work_label">
                                <ul>
                                    <li>中国风</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>中国风</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                    <li>标签</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="index_recommend clearfix">
    <div class="wrapper">
        <div class="trend_title_all">
            <div class="trend_tit_left">
                <div class="trend_title clearfix">
                    <div class="trend_head">作品推荐</div>
                    <div class="trend_chunk">
                        <div class="trend_chunk_top"></div>
                        <div class="trend_chunk_bottom"></div>
                    </div>
                </div>
            </div>
            <div class="trend_tit_right">Recommendation</div>
        </div>
        <div class="recommend_all clearfix">
            <ul>
                <li>
                    <a href="#">
                        <div class="location1">
                            <div class="recommend_image border_right_none"><img
                                    src="template/pc/skin/images/recommend_image.jpg"></div>
                            <div class="recommen_tit_all">
                                <div class="recommend_title">20PC142</div>
                                <div class="recommend_on">
                                    <div class="recommend_on_img"><img
                                            src="template/pc/skin/images/recommend_img_on.png"></div>
                                    <div class="recommend_on_tit">3,311</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <div class="location1">
                            <div class="recommend_image border_right_none"><img
                                    src="template/pc/skin/images/recommend_image.jpg"></div>
                            <div class="recommen_tit_all">
                                <div class="recommend_title">20PC142</div>
                                <div class="recommend_on">
                                    <div class="recommend_on_img"><img
                                            src="template/pc/skin/images/recommend_img_on.png"></div>
                                    <div class="recommend_on_tit">3,311</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="location1">
                            <div class="recommend_image"><img src="template/pc/skin/images/recommend_image.jpg"></div>
                            <div class="recommen_tit_all">
                                <div class="recommend_title">20PC142</div>
                                <div class="recommend_on">
                                    <div class="recommend_on_img"><img
                                            src="template/pc/skin/images/recommend_img_on.png"></div>
                                    <div class="recommend_on_tit">3,311</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="location1">
                            <div class="recommend_image border_right_none"><img
                                    src="template/pc/skin/images/recommend_image.jpg"></div>
                            <div class="recommen_tit_all">
                                <div class="recommend_title">20PC142</div>
                                <div class="recommend_on">
                                    <div class="recommend_on_img"><img
                                            src="template/pc/skin/images/recommend_img_on.png"></div>
                                    <div class="recommend_on_tit">3,311</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <div class="location1">
                            <div class="recommend_image border_right_none"><img
                                    src="template/pc/skin/images/recommend_image.jpg"></div>
                            <div class="recommen_tit_all">
                                <div class="recommend_title">20PC142</div>
                                <div class="recommend_on">
                                    <div class="recommend_on_img"><img
                                            src="template/pc/skin/images/recommend_img_on.png"></div>
                                    <div class="recommend_on_tit">3,311</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="location1">
                            <div class="recommend_image"><img src="template/pc/skin/images/recommend_image.jpg"></div>
                            <div class="recommen_tit_all">
                                <div class="recommend_title">20PC142</div>
                                <div class="recommend_on">
                                    <div class="recommend_on_img"><img
                                            src="template/pc/skin/images/recommend_img_on.png"></div>
                                    <div class="recommend_on_tit">3,311</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="location1">
                            <div class="recommend_image border_right_none"><img
                                    src="template/pc/skin/images/recommend_image.jpg"></div>
                            <div class="recommen_tit_all">
                                <div class="recommend_title">20PC142</div>
                                <div class="recommend_on">
                                    <div class="recommend_on_img"><img
                                            src="template/pc/skin/images/recommend_img_on.png"></div>
                                    <div class="recommend_on_tit">3,311</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <div class="location1">
                            <div class="recommend_image border_right_none"><img
                                    src="template/pc/skin/images/recommend_image.jpg"></div>
                            <div class="recommen_tit_all">
                                <div class="recommend_title">20PC142</div>
                                <div class="recommend_on">
                                    <div class="recommend_on_img"><img
                                            src="template/pc/skin/images/recommend_img_on.png"></div>
                                    <div class="recommend_on_tit">3,311</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="location1">
                            <div class="recommend_image"><img src="template/pc/skin/images/recommend_image.jpg"></div>
                            <div class="recommen_tit_all">
                                <div class="recommend_title">20PC142</div>
                                <div class="recommend_on">
                                    <div class="recommend_on_img"><img
                                            src="template/pc/skin/images/recommend_img_on.png"></div>
                                    <div class="recommend_on_tit">3,311</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="index_designer clearfix">
    <div class="wrapper">
        <div class="trend_title_all clearfix">
            <div class="trend_tit_left" style="width: 153px">
                <div class="trend_title clearfix">
                    <div class="trend_head">高级设计师</div>
                    <div class="trend_chunk">
                        <div class="trend_chunk_top"></div>
                        <div class="trend_chunk_bottom"></div>
                    </div>
                </div>
            </div>
            <div class="trend_tit_right">Designers</div>
        </div>
        <div class="design_designer">
            <ul class="clearfix">
                <li class="desigen_1"><img src="template/pc/skin/images/design_one.jpg"></li>
                <li class="desigen_2"><img src="template/pc/skin/images/design_two.jpg"></li>
                <li class="desigen_3"><img src="template/pc/skin/images/design_three.jpg"></li>
                <li class="desigen_4"><img src="template/pc/skin/images/design_four.jpg"></li>
                <li class="desigen_5"><img src="template/pc/skin/images/design_5.jpg"></li>
                <li class="desigen_6"><img src="template/pc/skin/images/design_6.jpg"></li>
            </ul>
            <ul>
                <li class="desigen_7"><img src="template/pc/skin/images/design_7.jpg"></li>
                <li class="desigen_8"><img src="template/pc/skin/images/design_8.jpg"></li>
                <li class="desigen_9"><img src="template/pc/skin/images/design_9.jpg"></li>
                <li class="desigen_10"><img src="template/pc/skin/images/design_10.jpg"></li>
                <li class="desigen_11"><img src="template/pc/skin/images/design_11.jpg"></li>
                <li class="desigen_12"><img src="template/pc/skin/images/design_12.jpg"></li>
            </ul>
        </div>
    </div>
</div>
<div class="foot clearfix">
    <div class="wrapper">
        <div class="foot_logo"><img src="template/pc/skin/images/foot_logo.png"></div>
        <div class="foot_all">
            <div class="foot_meun clearfix">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">趋势</a></li>
                    <li><a href="#">设计部</a></li>
                    <li><a href="#">业务部</a></li>
                    <li><a href="#">采购部</a></li>
                    <li><a href="#">新品研发部</a></li>
                    <li><a href="#">辅料</a></li>
                </ul>
            </div>
            <div class="foot_title">More resourceful，efficiency and straightforward for designing!</div>
        </div>
    </div>
</div>

</body>
</html>