<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--首页seo标题-->
    <title>{eyou:global name='web_title' /}</title>
    <!--首页seo描述-->
    <meta name="description" content="{eyou:global name='web_description' /}"/>
    <!--首页seo关键词-->
    <meta name="keywords" content="{eyou:global name='web_keywords' /}"/>
    <!--网站地址栏图标-->
    <link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="template/pc/skin/css/c.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="template/pc/skin/js/jquery1.42.min.js"></script>
    <script src="template/pc/skin/js/yyui.js"></script>
    <script type="text/javascript" src="template/pc/skin/js/jquery.SuperSlide.2.1.3.js"></script>
    <!--[if lt IE 9]>
    <div class="notsupport">
        <h1>:( 非常遗憾</h1>
        <h2>您的浏览器版本太低，请升级您的浏览器</h2>
    </div>
    <![endif]-->
    <!--    {eyou:static file="skin/js/jquery.min.js" /}-->
    <!--    {eyou:static file="skin/js/amazeui.min.js" /}-->
    <!--    {eyou:static file="skin/js/app.js" /}-->
    <!--    {eyou:static file="skin/js/jquery.easing.1.3.js" /}-->
    <!--    {eyou:static file="skin/js/jquery.skitter.js" /}-->
    <!--    {eyou:static file="skin/js/jquery.limarquee.js" /}-->
</head>

<body>
<!--网站公用头部——开始-->

<!--轮播图-->
<div id="slideBox" class="slideBox">
    <div class="hd">
        <ul>
            {eyou:adv pid='1'}
            <li></li>
            {/eyou:adv}
        </ul>
    </div>
    <div class="bd">
        <ul>
            {eyou:adv pid='1'}
            <li><a href="{$field.links}" {$field.target}><img src="{$field.litpic}" alt="{$field.title}"
                                                              class="random"/></a></li>
            {/eyou:adv}
        </ul>
    </div>
</div>
<script type="text/javascript">
    jQuery(".slideBox").slide({mainCell: ".bd ul", autoPlay: true});
</script>

<!--<div id="slideBox" class="slideBox" style="position: relative; top: -21px;">-->
<!--    <div class="skitter" id="banner">-->
<!--        <ul>-->
<!--            {eyou:adv pid='1'}-->
<!--            <li><a href="{$field.links}" {$field.target}><img src="{$field.litpic}" alt="{$field.title}"-->
<!--                                                              class="random"/></a></li>-->
<!--            {/eyou:adv}-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
<!--<script>-->
<!--    $(function () {-->
<!--        //Banner切换-->
<!--        $('#banner').skitter({dots: true, interval: 50});-->
<!--    })-->
<!--</script>-->

<!--轮播图-->

{eyou:include file="header.htm" /}
<div class="all_serach">
    <script type="text/javascript">
        yyui_menu('.search_pulldown');
    </script>
    <div class="search_pulldown">
        <ul class="yyui_menu1">
            <li>
                <a href="#">
                    <div style="float: left">全部</div>
                    <div class="search_arrows"><img src="template/pc/skin/images/searcj_arrows.png"></div>
                </a>
                <ul class="one clearfix">
                    <li class="clearfix">
                        {eyou:channel type="top" row="60" id="field"}
                        <a href="#">
                            <div class="second_title">{$field.typename}</div>
                            <div class="secont_image"><img src="template/pc/skin/images/top_meun_second_hover.png">
                            </div>
                        </a>
                        {/eyou:channel}
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    {eyou:searchform type='default' typeid='0'}
    <form class="sidebar-search" method="get" action="{$field.action}">
        <input type="text" class="all_search_input" name="keywords" placeholder="请输入关键词"/>
        {$field.hidden}
    </form>
    {/eyou:searchform}


</div>
<!--网站公用头部——结束-->
<div class="top">
    <div class="wrapper">
        <div class="all_search_label">
            <ul>
                {eyou:hotwords num="10" id="field"}
                <li>
                    <a href={$field.url}>{$field.word}</a>
                </li>
                {/eyou:hotwords}
            </ul>
        </div>
    </div>
</div>

{eyou:channelartlist typeid='2'}
<div class="index_trend clearfix">
    <div class="wrapper">
        <div class="trend_title_all">
            <div class="trend_tit_left">
                <div class="trend_title clearfix">
                    <div class="trend_head">流行趋势</div>
                    <div class="trend_chunk">
                        <div class="trend_chunk_top"></div>
                        <div class="trend_chunk_bottom"></div>
                    </div>
                </div>
            </div>
            <div class="trend_tit_right">Trend</div>
        </div>
        <div class="trend_content clearfix">
            {eyou:arclist titlelen='20' row='1' infolen='50'}
            <a href="{$field.arcurl}" target="_blank">
                <div class="trend_content_left">
                    <div class="trend_content_lefttit">
                        <div class="trend_tit1">{$field.title}</div>
                        <div class="trend_tit2">
                            {$field.seo_description}
                        </div>
                    </div>
                    <div class="trend_content_img">
                        <img src="{$field.litpic}" alt="{$field.title}" class="img-responsive" width="549px"
                             height="388px">
                    </div>
                </div>
            </a>
            {/eyou:arclist}
            <div class="trend_content_right">
                <ul>
                    {eyou:arclist titlelen='20' row='4' infolen='50'}
                    <a href="{$field.arcurl}" target="_blank">
                        <li>
                            <div class="trend_right_img"><img src="{$field.litpic}" width="273px" height="192px"></div>
                            <div class="trend_right_title">{$field.title}</div>
                        </li>
                    </a>
                    {/eyou:arclist}
                </ul>
            </div>
        </div>
    </div>
</div>
{/eyou:channelartlist}


{eyou:channelartlist typeid='1'}
<div class="index_work clearfix">
    <div class="wrapper">
        <div class="trend_title_all">
            <div class="trend_tit_left">
                <div class="trend_title clearfix">
                    <div class="trend_head">优质作品</div>
                    <div class="trend_chunk">
                        <div class="trend_chunk_top"></div>
                        <div class="trend_chunk_bottom"></div>
                    </div>
                </div>
            </div>
            <div class="trend_tit_right">Works</div>
        </div>
        <div class="works_content clearfix">
            {eyou:arclist titlelen='20' row='6' infolen='50'}
            <ul>
                <li>
                    <a href="{$field.arcurl}">
                        <div class="works_content_all">
                            <div class="works_content_img"><img src="{$field.litpic}" width="552px" height="389px">
                            </div>
                            <div class="works_content_title clearfix">
                                <div class="works_content_tit1">{$field.title}</div>
                                <div class="works_content_name">
                                    <div class="name">{$field.designer_name}</div>
                                    <div class="time">{$field.add_time|MyDate='Y.m.d',###}</div>
                                </div>
                                <div class="works_recommend">
                                    <div class="index_recommend_img"><img
                                            src="template/pc/skin/images/index_recommend.png"></div>
                                    <div class="index_recommend_tit">{$field.click}</div>
                                </div>
                            </div>
                            <div class="index_work_label">
                                <ul>
                                    <li>{eyou:field aid='$field.aid' addfields='style' /}</li>
                                    <li>{eyou:field aid='$field.aid' addfields='category' /}</li>
                                    <li>{eyou:field aid='$field.aid' addfields='years' /}</li>
                                    <li>{eyou:field aid='$field.aid' addfields='craft' /}</li>
                                    {foreach $eyou.field.tag as $key=>$vo }
                                    <li>{$vo}&nbsp;</li>
                                    {/foreach}
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            {/eyou:arclist}
        </div>
    </div>
</div>
{/eyou:channelartlist}


<div class="index_recommend clearfix">
    <div class="wrapper">
        <div class="trend_title_all">
            <div class="trend_tit_left">
                <div class="trend_title clearfix">
                    <div class="trend_head">作品推荐</div>
                    <div class="trend_chunk">
                        <div class="trend_chunk_top"></div>
                        <div class="trend_chunk_bottom"></div>
                    </div>
                </div>
            </div>
            <div class="trend_tit_right">Recommendation</div>
        </div>
        <div class="recommend_all clearfix">
            <ul>
                {eyou:arclist typeid='1' row='9' titlelen='15' orderby ='is_recom desc , sort_order asc' id='abc'}
                {if $abc.is_recom == 1}
                <li>
                    <a href="/?m=home&c=View&a=index&aid={$abc.aid}">
                        <div class="location1">
                            <div class="recommend_image border_right_none"><img src={$abc.litpic} width="397px"
                                                                                height="281px"></div>
                            <div class="recommen_tit_all">
                                <div class="recommend_title">{$abc.title}</div>
                                <div class="recommend_on">
                                    <div class="recommend_on_img"><img
                                            src="template/pc/skin/images/recommend_img_on.png"></div>
                                    <div class="recommend_on_tit">{$abc.click}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                {/if}
                {/eyou:arclist}
            </ul>
        </div>
    </div>
</div>
<div class="index_designer clearfix">
    <div class="wrapper">
        <div class="trend_title_all clearfix">
            <div class="trend_tit_left" style="width: 153px">
                <div class="trend_title clearfix">
                    <div class="trend_head">高级设计师</div>
                    <div class="trend_chunk">
                        <div class="trend_chunk_top"></div>
                        <div class="trend_chunk_bottom"></div>
                    </div>
                </div>
            </div>
            <div class="trend_tit_right">Designers</div>
        </div>
        <div class="design_designer">
            <ul class="clearfix">
                <li class="desigen_1"><img src="template/pc/skin/images/design_one.jpg"></li>
                <li class="desigen_2"><img src="template/pc/skin/images/design_two.jpg"></li>
                <li class="desigen_3"><img src="template/pc/skin/images/design_three.jpg"></li>
                <li class="desigen_4"><img src="template/pc/skin/images/design_four.jpg"></li>
                <li class="desigen_5"><img src="template/pc/skin/images/design_5.jpg"></li>
                <li class="desigen_6"><img src="template/pc/skin/images/design_6.jpg"></li>
            </ul>
            <ul>
                <li class="desigen_7"><img src="template/pc/skin/images/design_7.jpg"></li>
                <li class="desigen_8"><img src="template/pc/skin/images/design_8.jpg"></li>
                <li class="desigen_9"><img src="template/pc/skin/images/design_9.jpg"></li>
                <li class="desigen_10"><img src="template/pc/skin/images/design_10.jpg"></li>
                <li class="desigen_11"><img src="template/pc/skin/images/design_11.jpg"></li>
                <li class="desigen_12"><img src="template/pc/skin/images/design_12.jpg"></li>
            </ul>
        </div>
    </div>
</div>
{eyou:include file="footer.htm" /}

</body>
</html>