<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--首页seo标题-->
    <title>{eyou:global name='web_title' /}</title>
    <!--首页seo描述-->
    <meta name="description" content="{eyou:global name='web_description' /}"/>
    <!--首页seo关键词-->
    <meta name="keywords" content="{eyou:global name='web_keywords' /}"/>
    <!--网站地址栏图标-->
    <link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="template/pc/skin/css/c.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="template/pc/skin/js/jquery1.42.min.js"></script>
    <script src="template/pc/skin/js/yyui.js"></script>
    <script type="text/javascript" src="template/pc/skin/js/jquery.SuperSlide.2.1.3.js"></script>
    <!--[if lt IE 9]>
    <div class="notsupport">
        <h1>:( 非常遗憾</h1>
        <h2>您的浏览器版本太低，请升级您的浏览器</h2>
    </div>
    <![endif]-->
    {eyou:static file="skin/js/jquery.min.js" /}
    {eyou:static file="skin/js/amazeui.min.js" /}
    {eyou:static file="skin/js/app.js" /}
    {eyou:static file="skin/js/jquery.easing.1.3.js" /}
    {eyou:static file="skin/js/jquery.skitter.js" /}
    {eyou:static file="skin/js/jquery.limarquee.js" /}
</head>
<body style="background: #e5e5e5;">

<div class="top">
    <div class="details_banner">
        {eyou:adv pid='7'}
        <img src='{$field.litpic}' alt='{$field.title}'/>
        {/eyou:adv}
    </div>
</div>
{eyou:include file="header.htm" /}
<div style="position: relative;">
    <div class="wrapper" style="background: #ffffff;">
        <div class="label">
            <div class="design_lable">
                <!--筛选——开始-->
                {eyou:screening id='field' currentstyle='hover' alltxt='全部' }
                {eyou:volist name='$field.list' id='vo'}
                <ul class="clearfix">
                    <li class="design_lable_title">{$vo.title}：</li>
                    <li>
                        {eyou:volist name='$vo.dfvalue' id='val'}
                        &nbsp;&nbsp;&nbsp;<a {$val.onClick} class="{$val.currentstyle}">{$val.name}</a>&nbsp;&nbsp;&nbsp;
                        {/eyou:volist}
                    </li>
                </ul>
                {/eyou:volist}
                {$field.hidden}
                {/eyou:screening}

                <!--筛选——结束-->
                <ul class="clearfix">
                    <li class="pull_down"><img src="template/pc/skin/images/pull-down.png"></li>
                </ul>
            </div>
        </div>
        <div class="design_list clearfix">
            <div class="design_content clearfix">
                <ul>
                    {eyou:list titlelen='20' pagesize='12'}
                    <li><a href="{$field.arcurl}">
                        <div class="design_content_all">
                            <div class="design_content_img"><img src="{$field.litpic}" alt="{$field.title}"
                                                                 width="355px"
                                                                 height="250px" style="width: 100%;"></div>
                            <div class="design_content_title clearfix">

                                <div class="works_content_tit1">{$field.designer_name}</div>

                                <div class="design_content_name">
<!--                                    <div class="name">{$field.designer_name}</div>-->
                                    <div class="time">{$field.add_time|MyDate='Y.m.d',###}</div>
                                </div>
                                <!--                                订阅-->
                                <div class="works_recommend">
                                    <div class="index_recommend_img"><img
                                            src="template/pc/skin/images/index_recommend.png"
                                            style=" width:70%"></div>
                                    <div class="design_recommend_tit">{eyou:field aid='$field.aid'
                                        addfields='subscriptionsNum' /}
                                    </div>
                                </div>
                            </div>
                            <div class="design_work_label">
                                <ul>
                                    <li>{eyou:field aid='$field.aid' addfields='style' /}</li>
                                    <li>{eyou:field aid='$field.aid' addfields='category' /}</li>
                                    <li>{eyou:field aid='$field.aid' addfields='years' /}</li>
                                    <li>{eyou:field aid='$field.aid' addfields='craft' /}</li>
                                    {foreach $eyou.field.tag as $key=>$vo }
                                    <li>{$vo}&nbsp;</li>
                                    {/foreach}
                                </ul>
                            </div>
                        </div>
                    </a>
                    </li>
                    {/eyou:list}
                </ul>
            </div>
        </div>
    </div>
</div>
{eyou:include file="footer.htm" /}

</body>
</html>