<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--首页seo标题-->
    <title>{eyou:global name='web_title' /}</title>
    <!--首页seo描述-->
    <meta name="description" content="{eyou:global name='web_description' /}"/>
    <!--首页seo关键词-->
    <meta name="keywords" content="{eyou:global name='web_keywords' /}"/>
    <!--网站地址栏图标-->
    <link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="template/pc/skin/css/c.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="template/pc/skin/js/jquery1.42.min.js"></script>
    <script src="template/pc/skin/js/yyui.js"></script>
    <script type="text/javascript" src="template/pc/skin/js/jquery.SuperSlide.2.1.3.js"></script>
    <!--[if lt IE 9]>
    <div class="notsupport">
        <h1>:( 非常遗憾</h1>
        <h2>您的浏览器版本太低，请升级您的浏览器</h2>
    </div>
    <![endif]-->

</head>

<body style="background: #e5e5e5;">
<!--轮播图-->
<div id="slideBox" class="slideBox" style="position: relative; top: -21px;">
    <div class="skitter" id="banner">
        <ul>
            {eyou:adv pid='1'}
            <li><a href="{$field.links}" {$field.target}><img src="{$field.litpic}" alt="{$field.title}"
                                                              class="random"/></a></li>
            {/eyou:adv}
        </ul>
    </div>
</div>
<script>
    $(function () {
        //Banner切换
        $('#banner').skitter({dots: true, interval: 3000});
    })
</script>
<!--轮播图-->

{eyou:include file="header.htm" /}
<div class="clearfix" style="position: relative;">
    <div class="wrapper" style="background: #ffffff;">
        <div class="label">
            <div id="slideBox1" class="slideBox1" style="float: left">
                <div class="bd">
                    {eyou:diyfield type='imgs' id='bigPicture' name='$eyou.field.bigPicture'}
                    <img src='{$bigPicture.image_url}'/>
                    {/eyou:diyfield}
                </div>
                <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
            </div>
            <script type="text/javascript">
                jQuery(".slideBox1").slide({mainCell: ".bd ul", autoPlay: true});
            </script>
            <div class="label_content">
                <div class="label_content_title">{$eyou.field.title}</div>
                <div class="label_content_number">
                    <ul>
                        <li>浏览数量：{$eyou.field.click}</li>
                        <li>下载数量：{$eyou.field.downcount}</li>
                        <li>订阅数量：{$eyou.favNum}</li>
                    </ul>
                </div>
                <div class="label_content_down clearfix">
                    <ul>
                        <li>
                            <div class="fl" style=" margin-left: 20px;">
                                <img id="heart_img" onclick="setFavouritr({$eyou.field.aid})" style="display: none"
                                     src="template/pc/skin/images/tendency_collect.png">
                                <img id="hearts_img" onclick="setFavouritr({$eyou.field.aid})" style="display: none"
                                     src="template/pc/skin/images/recommend_img_on.png">
                            </div>
                        </li>
                        <li>
                            {if $eyou.field.annex != null}
                            <div class="fl"><a href={$eyou.field.annex} download onclick="downCount({$eyou.field.aid})"><img
                                    src="template/pc/skin/images/download.png"></a></div>
                            {/if}
                        </li>
                    </ul>
                </div>
                <div class="label_content_lable">
                    <ul>
                        <li class="lables">风格：<b>{$eyou.field.style}</b></li>
                        <li class="lables">时间：<b>{$eyou.field.add_time|MyDate='Y.m.d',###}</b></li>
                        <li class="lables">设计师：<b>{$eyou.dename}</b></li>
                        <li class="lables">品类：<b>{$eyou.field.category}</b></li>
                        <li class="lables">工艺：<b>{$eyou.field.craft}</b></li>
                        <li class="lables">年份：<b>{$eyou.field.years}</b></li>
                        <li class="lables">标签： {foreach $eyou.field.tag as $key=>$vo }
                            <b>{$vo}&nbsp;</b>
                            {/foreach}
                        </li>
                        <li class="lables" style="width: 100%; word-break:break-all; border-bottom: none;">
                            简述：<b>{$eyou.field.BriefIntroduction}</b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="design_details_content clearfix">
    <div class="wrapper" style="background:#FFFfff">
        <div class="design_details_content_all">
            <div class="design_details_content_title" style="width: 136px;">下单记录：</div>

            <div class="design_content_content" style=" margin-bottom: 20px;">
                <div class="topp clearfix">
                    <ul>
                        <li class="area">区域</li>
                        <li class="region">国家</li>
                        <li class="city">市</li>
                        <li class="specific">具体区</li>
                        <li class="order">下单人</li>
                        <li class="time1">下单时间</li>
                    </ul>
                </div>
                <div class="tiao clearfix">
                    <ul>
                        <li class="area">{$eyou.areaInfo.title}</li>
                        <li class="region">{$eyou.areaInfo.country}</li>
                        <li class="city">{$eyou.areaInfo.city}</li>
                        <li class="specific">{$eyou.areaInfo.counties}</li>
                        <li class="order">{$eyou.orderName}</li>
                        <li class="time1">{$eyou.orderTime}</li>
                    </ul>
                </div>
            </div>

            <div class="design_details_content_title fl clearfix">推荐：</div>
            <div class="recommander clearfix">
                <ul>
                    {eyou:arclist typeid='1' row='4' titlelen='15' orderby ='is_recom desc , sort_order asc'
                    id='abc'}
                    {if $abc.is_recom == 1}
                    <a href="/?m=home&c=View&a=index&aid={$abc.aid}">
                        <li>
                            <div class="recommander_img"><img src={$abc.litpic} width="237px" height="167px"></div>
                            <div class="recommander_title">{$abc.title}</div>
                        </li>
                    </a>
                    {/if}
                    {/eyou:arclist}
                </ul>
            </div>
        </div>
    </div>
</div>

{eyou:include file="footer.htm" /}

</body>
</html>