<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--首页seo标题-->
    <title>{eyou:global name='web_title' /}</title>
    <!--首页seo描述-->
    <meta name="description" content="{eyou:global name='web_description' /}"/>
    <!--首页seo关键词-->
    <meta name="keywords" content="{eyou:global name='web_keywords' /}"/>
    <!--网站地址栏图标-->
    <link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="template/pc/skin/css/c.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="template/pc/skin/js/jquery1.42.min.js"></script>
    <script src="template/pc/skin/js/yyui.js"></script>
    <script type="text/javascript" src="template/pc/skin/js/jquery.SuperSlide.2.1.3.js"></script>
    <!--[if lt IE 9]>
    <div class="notsupport">
        <h1>:( 非常遗憾</h1>
        <h2>您的浏览器版本太低，请升级您的浏览器</h2>
    </div>
    <![endif]-->
    {eyou:static file="skin/js/jquery.min.js" /}
    {eyou:static file="skin/js/amazeui.min.js" /}
    {eyou:static file="skin/js/app.js" /}
    {eyou:static file="skin/js/jquery.easing.1.3.js" /}
    {eyou:static file="skin/js/jquery.skitter.js" /}
    {eyou:static file="skin/js/jquery.limarquee.js" /}
</head>

<body style="background: #e5e5e5;">

<div class="top">
    <div class="details_banner">
        {eyou:adv pid='17'}
        <img src='{$field.litpic}' alt='{$field.title}' />
        {/eyou:adv}
    </div>
</div>
{eyou:include file="header.htm" /}

<div class="clearfix" style="position: relative;">
    <div class="wrapper" style="background: #ffffff;">
        <div class="label">
            <div id="slideBox1" class="slideBox1" style="float: left">
                <div class="bd">
                    {eyou:diyfield type='imgs' id='bigPicture' name='$eyou.field.bigPicture'}
                    <img src='{$bigPicture.image_url}'/>
                    {/eyou:diyfield}
                </div>
            </div>
            <script type="text/javascript">
                jQuery(".slideBox1").slide({mainCell: ".bd ul", autoPlay: true});
            </script>
            <div class="label_content">
                <div class="label_content_title">{$eyou.field.title}</div>
                <div class="label_content_number">
                    <ul>
                        <li>浏览数量：{$eyou.field.click}</li>
                        <li>下载数量：{$eyou.field.downcount}</li>
                        <li>订阅数量：{$eyou.favNum}</li>
                    </ul>
                </div>
                <div class="label_content_down clearfix">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="template/pc/skin/images/recommend_img_on.png">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="template/pc/skin/images/download.png" style="width: 78%;">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="label_content_lable">
                    <ul>
                        <li class="lables">风格：</li>
                        <li>{$eyou.field.fengge}</li>
                        <li class="lables">品类：</li>
                        <li>{$eyou.field.pinglei}</li>
                        <li class="lables">年份：</li>
                        <li>{$eyou.field.nianfeng}</li>
                        <li class="lables">颜色：</li>
                        <li>{$eyou.field.yanse}</li>
                        <li class="lables">材质：</li>
                        <li>{$eyou.field.caizhi}</li>
                        <li class="lables">工艺：</li>
                        <li>{$eyou.field.gongyi}</li>
                        <li class="lables">时间：</li>
                        <li>{$eyou.field.add_time|MyDate='Y.m.d',###}</li>
                        <li class="lables" style="width: 64%; word-break:break-all; border-bottom: none;">简述：</li>
                        <li style="width: 64%; word-break:break-all; border-bottom: none;">
                            {$eyou.field.Brief_introduction}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="design_details_content clearfix">
    <div class="wrapper" style="background:#FFFfff">
        <div class="design_details_content_all">
            <div class="design_details_content_title">介绍：</div>
            <div class="design_content_content">
                {$eyou.field.content}
            </div>
            <div class="design_tabe">
                <div class="design_details_content_title fl">推荐：</div>
                <div class="recommander clearfix">
                    <ul>
                        <li>
                            <div class="recommander_img"><img src="images/recommander.jpg"></div>
                            <div class="recommander_title">mingzi</div>
                        </li>
                        <li>
                            <div class="recommander_img"><img src="images/recommander.jpg"></div>
                            <div class="recommander_title">mingzi</div>
                        </li>
                        <li>
                            <div class="recommander_img"><img src="images/recommander.jpg"></div>
                            <div class="recommander_title">mingzi</div>
                        </li>
                        <li>
                            <div class="recommander_img"><img src="images/recommander.jpg"></div>
                            <div class="recommander_title">mingzi</div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{eyou:include file="footer.htm" /}
</body>
</html>