<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--首页seo标题-->
    <title>{eyou:global name='web_title' /}</title>
    <!--首页seo描述-->
    <meta name="description" content="{eyou:global name='web_description' /}"/>
    <!--首页seo关键词-->
    <meta name="keywords" content="{eyou:global name='web_keywords' /}"/>
    <!--网站地址栏图标-->
    <link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="template/pc/skin/css/c.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="template/pc/skin/js/jquery1.42.min.js"></script>
    <script src="template/pc/skin/js/yyui.js"></script>
    <script type="text/javascript" src="template/pc/skin/js/jquery.SuperSlide.2.1.3.js"></script>
    <!--[if lt IE 9]>
    <div class="notsupport">
        <h1>:( 非常遗憾</h1>
        <h2>您的浏览器版本太低，请升级您的浏览器</h2>
    </div>
    <![endif]-->
    {eyou:static file="skin/js/jquery.min.js" /}
    {eyou:static file="skin/js/amazeui.min.js" /}
    {eyou:static file="skin/js/app.js" /}
    {eyou:static file="skin/js/jquery.easing.1.3.js" /}
    {eyou:static file="skin/js/jquery.skitter.js" /}
    {eyou:static file="skin/js/jquery.limarquee.js" /}
</head>

<body style="background: #e5e5e5;">

<div class="top">
    <div class="details_banner">
        {eyou:adv pid='15'}
        <img src='{$field.litpic}' alt='{$field.title}' />
        {/eyou:adv}
    </div>
</div>
{eyou:include file="header.htm" /}

<div class="clearfix" style="position: relative;">
    <div class="wrapper" style="background: #ffffff;">
        <div class="label">
            <div id="slideBox1" class="slideBox1" style="float: left">
                <div class="bd">
                    {eyou:diyfield type='imgs' id='bigPicture' name='$eyou.field.bigPicture'}
                    <img src='{$bigPicture.image_url}'/>
                    {/eyou:diyfield}
                </div>
            </div>
            <script type="text/javascript">
                jQuery(".slideBox1").slide({mainCell: ".bd ul", autoPlay: true});
            </script>
            <div class="label_content">
                <div class="label_content_title">{$eyou.field.title}</div>
                <div class="label_content_number">
                    <ul>
                        <li>浏览数量：{$eyou.field.click}</li>
                        <li>下载数量：{$eyou.field.downcount}</li>
                        <li>订阅数量：{$eyou.favNum}</li>
                    </ul>
                </div>
                <div class="label_content_down clearfix">
                    <ul>
                        <li>
                            <div class="fl" style=" margin-left: 20px;">
                                <img id="heart_img" onclick="setFavouritr({$eyou.field.aid})" style="display: none"
                                     src="template/pc/skin/images/tendency_collect.png">
                                <img id="hearts_img" onclick="setFavouritr({$eyou.field.aid})" style="display: none"
                                     src="template/pc/skin/images/recommend_img_on.png">
                            </div>
                        </li>
                        <li>
                            {if $eyou.field.annex != null}
                            <div class="fl"><a href={$eyou.field.annex} download onclick="downCount({$eyou.field.aid})"><img src="template/pc/skin/images/download.png"></a></div>
                            {/if}
                        </li>
                    </ul>
                </div>
                <div class="label_content_lable">
                    <ul>
                        <li class="lables">风格：<b>{$eyou.field.fengge}</b></li>
                        <li class="lables">品类：<b>{$eyou.field.pinglei}</b></li>
                        <li class="lables">年份：<b>{$eyou.field.nianfeng}</b></li>
                        <li class="lables">颜色：<b>{$eyou.field.yanse}</b></li>
                        <li class="lables">材质： <b>{$eyou.field.caizhi}</b></li>
                        <li class="lables">工艺：<b>{$eyou.field.gongyi}</b></li>
                        <li class="lables">时间： <b>{$eyou.field.add_time|MyDate='Y.m.d',###}</b></li>
                        <li class="lables" style="width: 100%;">简述：
                            <b style="width: 100%; word-break:break-all; border-bottom: none;">
                                {$eyou.field.Brief_introduction}
                            </b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="design_details_content clearfix">
    <div class="wrapper" style="background:#FFFfff">
        <div class="design_details_content_all">
            <div class="design_details_content_title">介绍：</div>
            <div class="design_content_content">
                {$eyou.field.content}
            </div>
            <div class="design_tabe">
                <div class="design_details_content_title fl">推荐：</div>
                <div class="recommander clearfix">
                    <ul>
                        {eyou:arclist typeid='5' row='4' titlelen='15' orderby ='is_recom desc , sort_order asc'
                        id='abc'}
                        {if $abc.is_recom == 1}
                        <a href="/?m=home&c=View&a=index&aid={$abc.aid}">
                            <li>
                                <div class="recommander_img"><img src={$abc.litpic} width="237px" height="167px"></div>
                                <div class="recommander_title">{$abc.title}</div>
                            </li>
                        </a>
                        {/if}
                        {/eyou:arclist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $aaid=({$eyou.field.aid})
    $uuid=({$eyou.loginId})
    $.ajax({
        url: "{:url('app/home/view/checkFavourite')}",
        type: 'post',
        dataType: 'json',
        data: {"aid": $aaid, "userid": $uuid},
        success: function (result) {
            if (result !== "") {
                document.getElementById('heart_img').style.display = "none"
                document.getElementById('hearts_img').style.display = "block";
            } else {
                document.getElementById('hearts_img').style.display = "none"
                document.getElementById('heart_img').style.display = "block";
            }
        }
    });

    function downCount(obj) {
        $.ajax({
            url: "{:url('app/home/view/downCount')}",
            type: 'post',
            dataType: 'json',
            data: {"aid": obj},
            success: function (result) {
                $("#downdown").html("下载数量：" + result);
            }
        });
    }

    function setFavouritr(obj) {
        $.ajax({
            url: "{:url('app/home/view/setFavourite')}",
            type: 'post',
            dataType: 'json',
            data: {"aid": obj, "userid": $uuid},
            success: function (res) {
                if (res === 1) {
                    document.getElementById('heart_img').style.display = "none"
                    document.getElementById('hearts_img').style.display = "block";
                } else {
                    document.getElementById('hearts_img').style.display = "none"
                    document.getElementById('heart_img').style.display = "block";
                }
            }
        });
    }
</script>
{eyou:include file="footer.htm" /}
</body>
</html>